<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" configfailurepolicy="continue" name="Hackathon Suite" parallel="tests">
    <test name="Test">
        <classes>
            <class name="test.java.Scenario1"/>
            <class name="test.java.Scenario3"/>
            <class name="test.java.Scenario4"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->
